<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/people/{id} (id=${person.getId()})}" th:object=${person}>
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">


        <br>

        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age">

        <br>

        <p>Пол: </p>
        <p><input name="sex" type="radio" value="true" th:checked="${person.getSex()}" />Мужской</p>
        <p><input name="sex" type="radio" value="false" th:checked="${!person.getSex()}" />Женский</p>

        <br>

        <input type="submit" value="Обновить">  <a th:href="/people">Вернуться</a>

    </form>

</body>
</html>