<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 lang="ru">Люди из базы данных</h4>
<div th:each="person : ${people}">
    <th:block th:text="${person.getId()} + ' - '"/>
    <a th:href="@{/people/{id} (id=${person.getId()})}"
       th:text="${person.getName()}">person</a>
</div>
<br>

<form method="get" action="/people/new">
    <input type="submit" value="Добавить пользователя">
</form>

<form method="post" action="/people/order">
    <input type="submit" value="Упорядочить пользователей">
</form>

<p><a href="/">На главную</a></p>
</body>
</html>