<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>successPage</title>
</head>
<body>
    <p>
        Пользователь
        <th:block th:text="${person.getName()}"></th:block>
        добавлен в базу данных
    </p>

    <br>

    <form method="get" action="/people/new">
        <input type="submit" value="Добавить еще одного пользователя">
    </form>

    <form method="get" action="/people">
        <input type="submit" value="К списку всех пользователей">
    </form>

</body>
</html>